<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- bean definitions here -->
<bean id = "addr" class = "com.spring.pojo.AddressDto">
</bean>
<bean id = "userDto" class = "com.spring.pojo.UserDto">
	<property name="addr" ref = "addr"></property>
</bean>

</beans>